  <nav class="navbar navbar-inverse navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >ADMIN</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         <li><a href="/api/book">Home</a></li>
        <li><a href="/api/book/create">Product</a></li>
        <li><a href="/us/list">Acount</a></li>
        </ul>
      
         <ul class="nav navbar-nav navbar-right">
        <li><a href="/api/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a onclick="loginSuccess()" href="/api/signin"><span class="glyphicon
              glyphicon-log-in"></span> Login</a></li>
      </ul>
      </div>
    </div>
  </nav>
<div class="container">


    {{!-- Button --}}
    <div class="row my-4  p-4 my-5 ">
        {{!-- Go to Add --}}
        <div class="col-auto">
            <a class="btn btn-dark" href="/api/book/create"><i class="fa-solid fa-plus"></i> Add book</a>
        </div>

    </div>

    {{!-- Table --}}
    {{> table}}


 

</div>